@use "../../scss/abstract/mixins" as *;

.main {
    @include flex($gap: 2rem, $align: center);

    padding: 2rem 5rem;
}

.visualizer {
    @include flex($direction: row, $align: end);

    position: relative;
    width: fit-content;
    height: 500px;
    white-space: nowrap;
}

.element {
    display: inline-block;
    width: 2px;
    margin: 0 2px;
    background-color: var(--bars);
}

.buttons {
    @include flex($direction: row, $gap: 2rem);
}
